body,html {
    font-family: sans-serif;
	height: 100%;
    margin: 0;
}

h1 {
    text-decoration: underline;
    background-color: #c5e1ff;
}

h1,h2{
	text-align: center;
	font-weight: bold;
}

h2 {
    margin-bottom: 5px;
}

.Tab:focus {
    outline: 0;
}

.Tab.Inactive {
    background-color: #cec8ca;
    border-color: #cec8ca;
}

.Tab.Active {
    background-color: #4885fc;
    border-color: #4586fc;
}

.App{

	width: 60%;
	margin: auto;
	height: auto;
	background-color: #c5e1ff;
	padding: 10px;
    padding-bottom: 40px;
}

.Choices{
	display: flex;
	flex-direction: column;
	min-width: 270px;
	width: 50%;
	margin: auto;
	padding: 5px;
}

.ChoiceHeader {
    text-align: center;
    margin-bottom: 6px;
}

.Choice{
	margin: auto;

}

.Tabs{
	width: 50%;
	margin: auto;
	padding: 4px;
}
.Tab{
    font-size: 14px;
    height: 30px;
	width: 100%;
	margin: auto;
}

.Display{
	/*border: 1px solid;*/
    border: #a56140 5px solid;
    border-radius: 5px;
    background-color: antiquewhite;
	width: 60%;
	height: 40%;
	margin: auto;
	margin-top: 10px;
    padding: 0 5px 5px 5px;

}

.Item{
	width: 100%;
	margin: auto;
}
svg, p{
	width: 100%;
	padding: 5px;
	text-align: center;
}
@media screen and (max-width: 1130px){
	label{
		font-size: 14px;
	}
}

@media screen and (max-width: 990px){
	label{
		font-size: 14px;
	}
}


@media screen and (max-width: 800px){
    h1 {
        margin-top: 0;
        padding-top: 22px;
    }

	.App, .Choices, .Tabs{
		width: 100%;
		padding: 0;
		border: none;
	}

}

